.map-mark {
    height: 30px;
    line-height: 30px;
    position: absolute;
    color: #ffffff;
    font-size: 20px;
    transform: translate(-50%, 120px);
    cursor: pointer;
    z-index: 3;
  }
  
  .map-mark-icon {
    width: 38px;
    height: 57px;
    margin: 0 auto;
    position: absolute;
    top: -57px;
    left: 50%;
    background-color: transparent;
    background-image: url("/static/image/map/mark.png");
    background-position: center top;
    background-repeat: no-repeat;
    background-size: 100%;
    transform: translate(-50%, 0);
    cursor: pointer;
  }
  