.InterHomeStyle{
  width: 100%;
  height: 100%;
  .InterIframeStyle{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 100px;
    left: 150px;
    iframe{
      width: 100%;
      height: 100%;
    }
  }
  .InterIframeStyleActive{
    top: 0;
    left: 0;
    z-index: 1002;
  }
  .InterBottomStyle{
    width: 1600px;
    height: 420px;
    display: flex;
    justify-content: space-between;
    padding: 40px;
    position: absolute;
    left: 181px;
    bottom: 50px;
    border: 1px solid;
    border-image: -webkit-linear-gradient( #46ebff, #2A48B6) 30 30;
    border-image: -moz-linear-gradient( #46ebff, #2A48B6) 30 30;
    border-image: linear-gradient( #46ebff, #2A48B6) 30 30;
    background-color: rgba(42,72,182,.5);
    .InterBottomL{
      width: 45%;
      h3{
        height: 26px;
        line-height: 25px;
        font-size: 22px;
        color: #46ebff;
        border-left: 3px solid #46ebff;
        padding-left: 20px;
      }
      .ant-select-selection--single{
        height: 36px;
        background-color: #2444b1;
        color: #ffffff;
        border: 1px solid #46ebff;
        border-radius: 20px;
        .ant-select-selection__rendered{
          line-height: 35px;
          font-size: 16px;
        }
        span{
          color: #ffffff;
        }
      }
      .InterBottomLNav{
        height: 40px;
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid #46ebff;
        box-sizing: border-box;
        li{
          height: 40px;
          line-height: 40px;
          font-size: 24px;
          color: #46ebff;
          cursor: pointer;
          box-sizing: border-box;
        }
        li:hover{
          color: #ffffff;
          border-bottom: 2px solid #ffffff;
        }
      }
      .IBLPieBox{
        display: flex;
        justify-content: space-between;
        div{
          position: relative;
          dl{
            display: flex;
            align-items: center;
            margin-top: 52px;
            dt{
              svg{
                width: 200px;
                height: 144px;
                fill: #46ebff;
              }
            }
          }
          dd{
            margin: 0;
            p{
              margin: 0;
            }
            b,span{
              font-size: 60px;
              background: linear-gradient(to bottom, #fff, #46ebff);
              -webkit-background-clip: text;
              color: transparent;
            }
            span{
              font-size: 30px;
              font-weight: bold;
            }
          }
          .borderRight{
            position: absolute;
            width: 1px;
            height: 50%;
            background: linear-gradient(to bottom, rgba(48, 79, 188, 0.5) 10%, #46ebff 50%, rgba(48, 79, 188, 0.5) 100%);
            right: -45px;
            top: 54px;
          }
        }
      }
    }
    .InterBottomR {
      width: 53%;
      h3{
        height: 26px;
        line-height: 25px;
        font-size: 22px;
        color: #46ebff;
        border-left: 3px solid #46ebff;
        padding-left: 20px;
      }
      .InterBottomRNav{
        display: flex;
        flex-wrap: wrap;
        li{
          width: 25%;
          height: 40px;
          display: flex;
          align-items: center;
          line-height: 40px;
          font-size: 20px;
          color: #ffffff;
          box-sizing: border-box;
          span{
            display: inline-block;
            width: 20px;
            height: 5px;
            margin-right: 10px;
          }
          .ct1{
            background-color: red;
          }
          .ct2{
            background-color: #11e0ff;
          }
          .ct3{
            background-color: #fd8325;
          }
          .ct4{
            background-color: #2af594;
          }
          .ct5{
            background-color: #fed645;
          }
          .ct6{
            background-color: #1779ff;
          }
          .ct7{
            background-color: #00b4ff;
          }
          .ct8{
            background-color: #fe854b;
          }
          .ct9{
            background-color: #bf6dff;
          }
        }
      }
    }
  }
  .InterBottomStyleActive{
    z-index: 1002;
  }
}
.InternetSelect1{
  top: 688px !important;
  left: 470px !important;
}
.InternetSelect2{
  top: 688px !important;
  left: 757px !important;
}
.InternetSelect1,
.InternetSelect2{
  li{
    background-color: #2444b1;
    color: #ffffff;
    font-size: 16px;
  }
  li:hover{
    background-color: #ffffff;
    color: #2444b1;
  }
}
.earlyWarningBtn{
  position: absolute;
  bottom: 200px;
  right: 0px;
  z-index: 1002;
  button{
    width: 20px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #009fd9;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
  }
}
.dialogBoxParent{
  z-index: 1002;
}
.dialogBoxS{
  width: 80% !important;
  .ant-modal-content{
    .ant-modal-close-x{
      color: #46ebff;
      font-size: 24px;
    }
    background-color: rgba(34,61,148,.5);
    .ant-modal-header{
      background-color: initial;
      border: none;
      .ant-modal-title{
        color: #46ebff;
        font-size: 24px;
        font-weight: bolder;
      }
    }
    .dialogBox{
      .dialogHead{
        li{
          display: flex;
          font-size: 16px;
          color: #ffffff;
          dl{
            display: flex;
            width: 300px;
            dt{
              color: #46ebff;
            }
          }
        }
      }
      .dialogContentTop{
        .btn-tab{
          height: 40px;
          line-height: 36px;
          border-radius: 20px;
          li{
            font-size: 0.2rem;
            width: 135px;
          }
          .active{
            border-radius: 20px;
          }
        }
        .dcpMain{
          ul{
            display: flex;
            flex-wrap: wrap;
            li{
              width: 15%;
              margin-left: 1.5%;
            }
          }
          .dcpMainTitle{
            ul{
              justify-content: space-between;
              li{
                width: auto;
              }
            }
            span{
              font-size: 22px;
              color: #ffffff;
            }
          }
          .dcpMainSvg{
            li{
              dl{
                display: flex;
                justify-content: center;
                padding: 10px 15px;
                background: repeating-linear-gradient(135deg, #3766c0, #2444b1 7px);
                dt{
                  height: 67px;
                  i{
                    font-size: 56px;
                    position: relative;
                    top: -10px;
                    margin-right: 10px;
                  }
                  .icon-kongqiwendu{
                    color: #25dcee;
                  }
                  .icon-kongqishidu{
                    color: #46e2a7;
                  }
                  .icon-guangzhao{
                    color: #c5ce52;
                  }
                  .icon-turangwendu{
                    color: #56eb79;
                  }
                  .icon-turangshidu{
                    color: #e6b84b;
                  }
                  .icon-riyu{
                    color: #e87c4d;
                  }
                  .icon-fengxiang{
                    color: #4ce6cd;
                  }
                  .icon-fengsu{
                    color: #c181e6;
                  }
                  .icon-jiangyuliang{
                    color: #1e9fea;
                  }
                }
                dd{
                  p{
                    color: #46ebff;
                    font-size: 20px;
                    margin: 0;
                  }
                  span{
                    color: #ffffff;
                    font-size: 18px;
                  }
                }
              }
            }
          }
        }
        .dialogContentCenter{
          .InterBottomLNav{
            height: 40px;
            display: flex;
            justify-content: space-between;
            border-bottom: 1px solid #46ebff;
            box-sizing: border-box;
            li{
              height: 40px;
              line-height: 40px;
              font-size: 24px;
              color: #46ebff;
              cursor: pointer;
              box-sizing: border-box;
            }
            li:hover{
              color: #ffffff;
              border-bottom: 2px solid #ffffff;
            }
            .selectInternetStyleClass{
              color: #ffffff;
              border-bottom: 2px solid #ffffff;
            }
          }
        }
        .historyData{
          .historyDataTime{
            height: 50px;
            font-size: 20px;
            color: #46ebff;
          }
          .historyDataList{
            dl{
              dt{
                ul{
                  background-color: #2444b1;
                  border-top: 1px solid #eeeeee;
                  li{
                    color: #78afef;
                  }
                }
              }
              dd{
                ul{
                  background-color: #3551b4;
                  color: #ffffff;
                }
              }
              ul{
                display: flex;
                border-bottom: 1px solid #eeeeee;
                margin: 0;
                li{
                  width: 10%;
                  height: 40px;
                  line-height: 40px;
                  text-align: center;
                  font-size: 20px;
                  border-right: 1px solid #eeeeee;
                }
                li:first-child{
                  border-left: 1px solid #eeeeee;
                }
                li:last-child{
                  width: 20%;
                }
              }
            }
            .ant-pagination{
              display: flex;
              justify-content: flex-end;
              li,.ant-pagination-item-link{
                min-width: 45px;
                min-height: 45px;
                line-height: 45px;
                background-color: #2946a0;
                margin: 0;
                border-radius: initial;
                a{
                  font-size: 16px;
                  color: #ffffff;
                }
              }
              .ant-pagination-options{
                width: 174px;
                display: flex;
                justify-content: center;
                align-items: center;
                input{
                  width: 60px;
                  font-size: 18px;
                  margin: 0 5px;
                }
              }
              .ant-pagination-total-text{
                font-size: 20px;
                color: #ffffff;
                margin: 0 15px;
                background-color: initial;
              }
              .ant-pagination-jump-prev,
              .ant-pagination-jump-next{
                display: none;
              }
              .ant-pagination-item-active{
                background-color: #08418f;
                a{
                  color: #ffffff;
                }
              }
              .ant-pagination-options-quick-jumper{
                color: #ffffff;
              }
            }
          }
        }
      }
    }
  }
  .ant-modal-footer{
    display: none;
  }
  .ant-calendar-range-picker-input{
    font-size: 20px !important;
  }
}
.dialogRangePicker{
  left: 217px !important;
  top: 326px !important;
  .ant-calendar-time-picker-btn{
    display:none !important;
  }
}


//tab页样式
.dialogContent{
  .ant-tabs-bar{
    border: none;
    .ant-tabs-nav{
      height: 40px;
      width: 270px;
      box-sizeing: border-box;
      border: 1px solid #18bbff;
      border-radius: 20px;
      color: #82bcff;
      background-color: rgba(15, 20, 251, 0.25);
      .ant-tabs-ink-bar{
        display: none !important;
      }
      .ant-tabs-tab{
        width: 135px;
        height: 40px;
        line-height: 36px;
        font-size: 20px;
        margin: 0;
        padding: 0;
        text-align: center;
        cursor: pointer;
        transition: all .2s ease-in;
      }
      .ant-tabs-tab-active{
        color: #02165d;
        background: #24d0fd;
        border-radius: 20px;
      }
    }
  }

  .ant-calendar-picker-input{
    background-color: inherit;
    color: #ffffff;
  }
}
