.TalkMonitoringClass {
    position: absolute;
    width: 17.4rem;
    top: 1.15rem;
    left: 1.8rem;
    padding-right: 0.4rem;
    box-sizing: border-box;
    .chart-title-wrap {
        height: 0.4rem;
        position: relative;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        margin: 0.1rem 0.2rem;
        .markUp .iconfont {
            color: #479dec;
            font-size: 0.18rem;
            margin-left: 0.15rem;
            font-weight: bold;
        }
        .markUp .iconfont:hover {
            color: #e2b03d;
            cursor: pointer;
        }
        .mediaDate {
            display: flex;
            flex-direction: row;
            .ant-calendar-picker-container{
                position: absolute;
                top:0!important;
                left:0!important;
            }
            .ant-calendar-picker {
                width: 2.6rem;
                height: 0.24rem;
                .ant-calendar-picker-input {
                    border-radius: 15px;
                    background: #244dc1;
                    color: white;
                    .ant-calendar-range-picker-separator {
                        color: white;
                        font-size: 16px;
                    }
                    .ant-calendar-picker-icon:after {
                        color: white;
                        font-size: 16px;
                    }
                }
            }
            .ant-calendar-range-picker-input {
                font-size: 16px;
            }
        }
    }
    .echarts-wrap {
        //height: 1.8rem;
        flex: 1;
    }
    .mainName {
        color: white;
        font-size: 0.18rem;
        height: 0.6rem;
        display: flex;
        flex-direction: row;
    }
    .feelTop,
    .feelMid,
    .feelBottom {
        margin-bottom: 0.28rem;
        height: 2.8rem;
        display: flex;
        flex: 1;
        flex-direction: row; /// margin-bottom: 0.3rem;
        //单选按钮的样式
        .ant-radio-group {
            text-align: right;
            .ant-radio-wrapper {
                .ant-radio-inner {
                    background-color: #2c6ee9;
                    border-color: #5dc4ff;
                }
                .ant-radio-inner:after {
                    background-color: #5dc4ff;
                }
            }
        }
    }
    .feelTop {
        .feelAnalysis,
        .mediaType {
            background-image: url("./t-top.png");
            -webkit-background-size: 100% 100%;
            background-size: 100% 100%;
            position: relative;
            display: flex;
            flex-direction: column;
            .feelSelect {
                font-size: 0.38rem;
            }
        }
        .feelAnalysis {
            flex: 2;
        }
        .mediaType {
            flex: 1
        }
    }
    .feelMid {
        .feelSpread,
        .negativeMedia,
        .mediaList {
            flex: 1;
            background-image: url("./t-center.png");
            -webkit-background-size: 100% 100%;
            background-size: 100% 100%;
            position: relative;
            display: flex;
            flex-direction: column;
        }
    }
    .feelBottom {
        ul {
            width: 100%;
            height:200px;
            padding: 0 0.23rem;
            box-sizing: border-box;
            overflow: hidden;
            .ant-carousel .slick-list{
                overflow: visible;
            }
            li {
                border-bottom: 1px solid #4279de;
                color: #cdedfc;
                font-size: 0.16rem;
                position: relative;
                cursor: pointer;

                .negativeName{
                    width:7rem;
                    overflow:hidden;
                    line-height: 0.27rem;
                    text-overflow:ellipsis;
                    white-space:nowrap;
                    margin-top: 0.05rem;
                }
                a{
                    color: white;
                    display: inline-block;
                }
                span {
                    position: absolute;
                    right: 0;
                    top: 0.06rem;
                    width: 0.64rem;
                    height: 0.27rem;
                    line-height: 0.27rem;
                    text-align: center;
                    color: #02f9ff;
                    border-radius: 0.4rem;
                    border: 1px solid #28dfdd;
                }
            }
            span.positive {
                color: #02f4fd;
                border: 1px solid #02f4fd;
            }
            span.neutral {
                color: #0bdc78;
                border: 1px solid #0bdc78;
            }
            span.negative {
                color: #ffc21d;
                border: 1px solid #ffc21d;
            }
        }
        .newPublic,
        .negativePublic {
            flex: 1;
            background-image: url("./t-down.png");
            -webkit-background-size: 100% 100%;
            background-size: 100% 100%;
            position: relative;
            display: flex;
            flex-direction: column;


        }
    }
}
.adialogBoxS{
    background:url('./tooltip-bg.png') no-repeat;
    top:250px;
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
    color: white;
    .ant-modal-content{
        background-color: rgba(34, 61, 148, 0);
        .ant-modal-body{
            div{
                a{
                    color:white;
                }
                .publicTxtname{
                    display: block;
                    text-align: center;
                    text-decoration:none;
                    color:#46ebff;
                    margin-top:10px;
                    letterSpacing:3px;
                    fontSize:24px;
                    line-height: 40px;
                }
                .publicFrom{
                    text-align: center;
                    line-height: 35px;
                    font-size: 16px;
                    span{
                        display: inline-block;
                        margin-left: 10px;
                    }
                }
            }
        }
        .ant-modal-close{
            color: #fff;


            .ant-modal-close-x:before{
                width:30px;
                height:30px;  background: gray;
                border-radius: 30px;
                border:4px solid #fff;
                font-size: 20px;
                line-height: 31px;
                font-weight: bold;
            }
        }
    }
}